section#home-banner.home-page-banner(data-title='Trang Chủ')
	.banner-wrapper
		.swiper-container
			.swiper-wrapper
				-for(i=0;i<5;i++)
					.swiper-slide
						.img
							img(src="./img/banner.png" alt="")
						.box-text
							h2 Công ty Cổ Phần
								br
								| Phát Triển Sài Gòn
							p Chất lượng khẳng định
								br
								| thương hiệu
			.swiper-pagination



