section#home-banner.home-page-banner(data-title='Trang Chủ')
	.banner-wrapper
		.swiper-container
			.swiper-wrapper
				-for(i=0;i<5;i++)
					.swiper-slide
						.img
							img(src="./img/homebanner.png" alt="")
						.box-text Đỉnh cao của giá trị thật và sự trung tín
						.wrap-scroll
							span.ri-arrow-down-s-line
							span.ri-arrow-down-s-line
							span.ri-arrow-down-s-line



