section.content-san-pham
    .container
        .row
            .col-lg-10
                .main-content
                    h2.main-title Ăn mòn sunphát là một trong những dạng ăn mòn gây  phá hủy cấu trúc của bê tông. Ăn mòn xảy ra khi khối bêtông tiếp xúc trực tiếp với nguồn nước ,đất chứa sunphát, môi trường nước biển , trong các nhà máy xử lý nước thải.
                    .content
                        strong Các môi trường sử dụng sản phẩm ximăng pooclăng bền sunphát:
                        ul.type-none
                            li 1. Đất : sulphát thường ở dạng thạch cao
                            li 2. Nước ngầm, nước phèn : sulphát thường ở dạng Al3+ ,Mg2+, Na+ ,K+
                            li 3. Đất trồng trọt: sulphát thường ở dạng NH4+
                            li 4. H2S do sự phân huỷ của các chất hữu cơ trong các ao hồ, đầm lầy.chuyển hoá thành sulfuric gây ăn mòn
                            li 5. Trong môi trường nước biển
                        p Bê tông khi tiếp xúc môi trường chứa ion sun phát SO42- ,  khoáng calcium aluminat  C3A tương tác với ion sunphát tạo thành sản phẩm canxi sunphát CaSO4.2H2O ; portlandite Ca(OH)2  , ettringite (C3A.3CS.H32 ) : là các sản phẩm có thể tích lớn hơn so với khoáng được tạo thành ban đầu,  gây trương nở thể tích , làm bêtông bị mất độ cứng  . Ximăng bê tông nứt vỡ và tạo điều kiện thuận lợi cho các ion xâm thực khác (Na+, K+ ,Mg2 ) tương tác tạo thành các  sản phẩm xâm thực  với khối bê tông dẫn đến phá hủy cấu trúc.
                        .table-style-1
                            table
                                thead
                                    tr
                                        th.text-center STT /
                                            br
                                            span  No
                                        th.text-center Tên chỉ tiêu /
                                            br
                                            span Characteristic
                                        th.text-center Dvt /
                                            br
                                            span Unit
                                        th.text-center ASTM C150
                                            br
                                            | -TYPE II
                                        th.text-center ASTM C150
                                            br
                                            | -TYPE V
                                tbody
                                    tr.border-b
                                        td.text-center 1
                                        td Độ bền nén &nbsp; /
                                            span &nbsp; Compressive Strength
                                            br
                                            | - 3 ngày &nbsp; /
                                            span &nbsp; day
                                            br
                                            | - 3 ngày &nbsp; /
                                            span &nbsp; day
                                            br
                                            | - 3 ngày &nbsp; /
                                            span &nbsp; day
                                        td.text-center MPa
                                        td.text-center
                                            | >= 10
                                            br
                                            | >=17
                                            br
                                            | -
                                        td.text-center
                                            | >= 8
                                    tr.border-b
                                        td 2
                                        td Thời gian đông kết &nbsp; /
                                            span &nbsp;  Setting tim
                                            br
                                            | - Bát đầu &nbsp; /
                                            span &nbsp; Initial set
                                            br
                                            | - Kết thúc &nbsp; /
                                            span &nbsp; Final set
                                        td.text-center MPa
                                        td.text-center
                                            | >= 10
                                        td.text-center
                                            | >= 8
                                    tr.border-b
                                        td 3
                                        td Độ nở tiềm năng của mẫu vừa do sulfate sau 14 ngày &nbsp; /
                                            br
                                            span Potential expansion of mortar exposed to sulfate at 14 days
                                        td.text-center %
                                        td.text-center
                                            | -
                                        td.text-center
                                            | <=0,04
                                    tr
                                        td 4
                                        td Hàm lượng bọt khí vỡ&nbsp;/&nbsp;
                                            span Air content of mortar
                                        td.text-center %
                                        td.text-center
                                            | -
                                        td.text-center
                                            | <=0,04
                                    tr
                                        td 5
                                        td Hàm lượng bọt khí vỡ&nbsp;/&nbsp;
                                            span Air content of mortar
                                        td.text-center %
                                        td.text-center
                                            | -
                                        td.text-center
                                            | <=0,04
                                    tr
                                        td 6
                                        td Hàm lượng bọt khí vỡ&nbsp;/&nbsp;
                                            span Air content of mortar
                                        td.text-center %
                                        td.text-center
                                            | -
                                        td.text-center
                                            | <=0,04
                        p Lợi ích của việc sử dụng loại ximăng này, bên cạnh việc đảm được cường độ của bêtông thì chất lượng công trình bền vững theo thời gian là yếu tố quan trọng. Khi sử dụng , người ta sẽ sử dụng thông số “thay đổi chiều dài của  thanh vữa trong nước do sunphát sau 14 ngày “ để đánh giá thêm khả năng bị xâm thực của ximăng:
                        p Tùy theo điều kiện địa chất công trình , tùy nồng độ của ion sunphát SO42- trong môi trường mà có lựa chọn loại xi măng porland bền sunphát phù hợp. Theo ACI – 381 có thể chia quá trình xâm thực do sulphát như sau:
                        .table-style-2
                            table
                                thead
                                    tr
                                        th.text-center.strong-bb(rowspan='3') Cấp độ
                                        th.text-center.strong-bb(colspan='2') Hàm lượng SO4
                                        th.text-center.strong-bb(rowspan='3') Quy định
                                    tr
                                        td.text-center.strong-bb(rowspan='2') Trong đất (%)
                                        td.text-center.strong-bb Trong
                                    tr
                                        td.text-center.strong-bb Nước(mg/l)
                                tbody
                                    tr
                                        td Không đáng kể
                                        td.text-center <0.1
                                        td.text-center <150
                                        td Không quy định loại ximăng & N/X
                                    tr
                                        td Trung bình
                                        td.text-center <0.1
                                        td.text-center <150
                                        td Không quy định loại ximăng & N/X Không quy định loại ximăng & N/X
                                    tr
                                        td Nghiêm trọng
                                        td.text-center <0.1
                                        td.text-center <150
                                        td Không quy định loại ximăng & N/X Không quy định loại ximăng & N/X
include ../home/h-4/index.pug



