include ../home/h-4/index.pug

section.block-project(setBackground="./img/project/bg-cheo.png")
    .container
        .row
            .col-lg-5
                .left-project
                    .title
                        h2 Xi măng poóc lăng hỗn hợp
                    .title
                        p Ít tỏa nhiệt PCB40-LH
                    .content-project
                        .sub-title Xi măng sài gòn ít tỏa nhiệt sản phẩm đặc biệt chuyên dùng
                        ul.caption
                            li
                                p Các cấu kiện bê tông khối lớn
                            li
                                p Các công trình cầu, đường, đổ toàn khối
                            li
                                p Các công trình thủy điện, đê, đập
                            li
                                p Các công trình yêu cầu đặc biệt nghiêm ngặt về nhiệt độ của bê tông
                        .btn-view-more
                            a(href="#") Xem thêm
                                img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
            .col-lg-7
                .right-project
                    .card_img
                        a(href="#")
                            img(data-src="./img/project/1.png" alt="" class="lazyload")
