section.home-6.main-section(setBackground="./img/h6_bg.png")
	.wrap-h6-1.animation-top
		.container
			.section-title.black TUYỂN DỤNG
			.des SDC không ngừng tìm kiếm các ứng viên tài năng với chính sách đãi ngộ hấp dẫn
			.wrap-text
				.title Năng động và hiệu quả tạo nên sự chuyên nghiệp
				.mota Gia nhập SDC, các bạn có thể thỏa sức khẳng định năng lực, giá trị bản thân và chinh phục những mức thu nhập đột phá…
				.view-more
					a(href="").icon-link.black
						img(data-src="./img/icon/icon-arrow-black.png" alt="" class="lazyload")
	.wrap-doitac.animation-top
		.container
			.wrap-slide
				.swiper-container
					.swiper-wrapper
						-for(i=1;i<5;i++)
							.swiper-slide
								.img
									a(href="")
										img(data-src="./img/img-doi-tac/dt-"+i+".png" alt="" class="lazyload")
				.wrap-button
					.button-prev-1
						img(data-src="./img/icon/icon-prev.png" alt="" class="lazyload")
					.button-next-1
						img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")