section.home-6.main-section(setBackground="./img/bg-footer.png")
	.bg-fake(setBackground="./img/icon.png")
		.wrap-partner.animation-right
			.container 
				.section-title Đối tác
				.swiper-partner 
					.swiper-container 
						.swiper-wrapper
							-for(i=0; i<9; i++)
								.swiper-slide 
									.item 
										.img 
											img.lazyload(data-src="./img/doi-tac.png")
					.wrap-button 
						.button-next
						.button-prev
		