section.wrap-slide-s4.home-4
    .s4-left
    .s4-right
        #ka-swiper1.swiper-container
            .swiper-wrapper
                -for (i=0; i<8; i++)
                    .swiper-slide
                        .wrapper
                            a(data-fancybox='gallery' href="./img/home-4/2.png" alt="")
                                img(src="./img/home-4/2.png" alt="")
        .wrap-button
            .button-next
            .button-prev