section.tuyen-dung-ct(setBackground="./img/tuyen-dung/bgtd.png")
	.container
		.primary-nav
			ul
				li.active
					a(href="") Giới thiệu tổng quan 
				li
					a(href="") Giới thiệu tổng quan 
				li
					a(href="") Giới thiệu tổng quan
		.wrapper-box 
			.row
				.col-lg-9.col-md-12
					.box-left-top
						.row.no-gutters
							.col-lg-4.col-md-12
								.img
									img(src="./img/tuyen-dung/bn1.png", alt="" class="lazyload")

							.col-lg-8.col-md-12
								.wrap-content
									.heading
										.title Giám đốc dự án
										.fb
											a(href="#")
												i.ri-facebook-box-fill

									.info
										table
											tr
												td
													i.ri-todo-fill
													p Số luợng cần tuyển
												td
													p 100
											tr
												td
													i.ri-todo-fill
													p Mức lương
												td
													p 20 - 50 triệu / 1 tháng
											tr
												td
													i.ri-todo-fill
													p Hình thức công việc
												td
													p Toàn thời gian cố định
											tr
												td
													i.ri-todo-fill
													p Kinh nghiệm
												td
													p 6 tháng - 1 năm
											tr
												td
													i.ri-todo-fill
													p Yêu cầu bằng cấp
												td
													p Tốt nghiệp Cao đẳng/ Đại học
											tr
												td
													i.ri-todo-fill
													p Yêu cầu giới tính
												td
													p Nam / Nữ
											tr
												td
													i.ri-todo-fill
													p Thời hạn nộp hồ sơ
												td
													p 10.01.2021
									.wrap-option
										.btn.btn-primary.blue
											a(href="") Ứng tuyển
										.btn.btn-primary.green
											a(href="") Tải mẫu thông tin ứng viên
					.box-left-top
						.wrap-desc
							.heading
								.title Trách nhiệm công việc
							ul.info.type-none
								li Điều hành chung về lĩnh vực Kỹ thuật (Xây dựng và hạ tầng).

								li Sắp xếp, theo dõi quá trình phản ảnh, phản hồi thông tin của dự án đến các phòng ban liên quan.

								li Điều hành chung về vận hành và khai thác

								li Tuyển dụng, điều động nhân sự toàn Dự Án.

								li Kiểm soát rủi ro và đề xuất, áp dụng các biện pháp hiệu quả để phòng ngừa rủi ro. Thay mặt Công ty chủ trì giải quyết các tai nạn, sự cố (nếu có) trong quá trình thực hiện dự án.

								li Kiểm tra và xác nhận tạm ứng, thanh toán, quyết toán … định kì hay đột xuất.

								li Chủ trì các cuộc họp, tiếp nhận và xử lý, giải quyết các hồ sơ, báo cáo; Giải quyết theo thẩm quyền toàn bộ vướng mắc, khó khăn có liên quan của dự án.
				
					.box-left-top
						.wrap-desc
							.heading
								.title Trách nhiệm công việc
							ul.info.type-none
								li Điều hành chung về lĩnh vực Kỹ thuật (Xây dựng và hạ tầng).

								li Sắp xếp, theo dõi quá trình phản ảnh, phản hồi thông tin của dự án đến các phòng ban liên quan.

								li Điều hành chung về vận hành và khai thác

								li Tuyển dụng, điều động nhân sự toàn Dự Án.

								li Kiểm soát rủi ro và đề xuất, áp dụng các biện pháp hiệu quả để phòng ngừa rủi ro. Thay mặt Công ty chủ trì giải quyết các tai nạn, sự cố (nếu có) trong quá trình thực hiện dự án.

								li Kiểm tra và xác nhận tạm ứng, thanh toán, quyết toán … định kì hay đột xuất.

								li Chủ trì các cuộc họp, tiếp nhận và xử lý, giải quyết các hồ sơ, báo cáo; Giải quyết theo thẩm quyền toàn bộ vướng mắc, khó khăn có liên quan của dự án.
				.col-lg-3
					.box-right
						.heading
							.title Tuyển dụng khác
						.box-content
							.box-list
								a(href="#").title CHUYÊN VIÊN KIỂM SOÁT NỘI BỘ
								.address
									em.material-icons fmd_good
									p Tp. Hồ Chí Minh
								.number
									em.material-icons attach_money
									p 8 - 10 triệu VNĐ
							.box-list
								a(href="#").title CHUYÊN VIÊN KIỂM SOÁT NỘI BỘ
								.address
									em.material-icons fmd_good
									p Tp. Hồ Chí Minh
								.number
									em.material-icons attach_money
									p 8 - 10 triệu VNĐ
									

