section.tuyen-dung-1(setBackground="./img/tuyen-dung/tdbn.png")
	.container
		.primary-nav
			ul
				li.active
					a(href="") Giới thiệu tổng quan 
				li
					a(href="") Giới thiệu tổng quan 
				li
					a(href="") Giới thiệu tổng quan
		.wrap-post
			.row.no-gutters
				.col-lg-6.col-sm-12
					.box-wrap.bg-gradient3
						h2.section-title.white Phát triển cùng TLM
						.desc
							p Không chỉ thu hút, giữ chân nhân tài bằng chế độ lương thưởng, phúc lợi cạnh tranh; Tập đoàn bất động sản TLM còn kịp thời ghi nhận, tưởng thưởng xứng đáng mỗi đóng góp của cá nhân; đồng thời, xây dựng lộ trình thăng tiến rõ ràng và mang đến cơ hội khẳng định giá trị bản thân.
				-for(i=0; i<3; i++)
					.col-lg-6.col-sm-12
						.wrapper-img
							.img
								a(href="")
									img(data-src="./img/homebanner.png" alt="" class="lazyload")
							.text-desc
								.img
									img(src="./img/tuyen-dung/icon-money.png", alt="")
								a(href="#").title HỆ THỐNG LƯƠNG & THƯỞNG
								.desc
									| Tập đoàn TLM thường xuyên tổ chức các khóa đào tạo, training cho cán bộ, nhân viên.
									br
									| Được cử đi tham dự các chương trình đào tạo chất lượng để phát triển chuyên môn, nâng cao năng lực quản lý.
				
section.tuyeng-dung-2(setBackground="./img/tuyen-dung/tdbn2.png")
	.container
		.title-center
			.section-title.main.backInDown.text-center Cơ hội nghề nghiệp
		.box-wrap
			.row
				-for(x=0;x<6;x++)
					.col-lg-6
						.box-content
							a(href="#").title Cơ hội nghề nghiệp
							ul.info
								li
									.item
										em.material-icons fmd_good
										p Tp. Hồ Chí Minh
								li
									.item
										em.material-icons event_available
										p 10.01.2021
								li
									.item.green
										em.material-icons attach_money
										p 8 - 10 triệu VNĐ
								
							.view-more
								a(href="#") Xem thêm

//-     .container
//-         .wrap-text
//-             h2.title Gia nhập SDC, bạn sẽ có trải nghiệm làm việc tốt hơn.
//-             p.text Đến với ngôi nhà chung của SDC, bạn sẽ trở thành một thành viên luôn nỗ lực đem lại giá trị mới cho công ty. Chúng tôi tuyển dụng những tài năng đầy đam mê với môi trường khởi nghiệp và sẵn sàng vượt qua mọi giới hạn bản thân.
//-             p.text Bạn sẽ có cơ hội để phát triển tiềm năng bản thân cùng SDC.
//- .tuyen-dung-2
//-     .container
//-         h2.section-title.no-line Tại sao chọn SDC
//-         .wrap-post
//-             .row.no-gutters
//-                 .col-lg-4
//-                     a(href="").box-big
//-                         .img.zoom-img
//-                             img(data-src="./img/tuyen-dung/td-2.png" alt="" class="lazyload")
//-                         .wrap-text
//-                             .number 01
//-                             .title PHÁT TRIỂN  SỰ NGHIỆP
//-                             .mota Lộ trình phát triển năng lực cụ thể, ghi nhận sự đóng góp và cống hiến, môi trường làm việc nhiều cạnh tranh, sẽ là nền tảng để bạn xây dựng sự nghiệp tại SDC
//-                 .col-lg-8
//-                     .row.no-gutters
//-                         -for(i=0;i<4;i++)
//-                             .col-md-6
//-                                 a(href="").box-small
//-                                     .img.zoom-img
//-                                         img(data-src="./img/tuyen-dung/td-4.png" alt="" class="lazyload")
//-                                     .wrap-text
//-                                         .number 01
//-                                         .title PHÁT TRIỂN  SỰ NGHIỆP
//- .tuyen-dung-3(setBackground="./img/tuyen-dung/td-bg-2.png")
//-     .container
//-         h2.title-td Hãy gia nhập gia đình SDC
//-             br
//-             | &emsp; &emsp;Làm việc tại SDC, chúng tôi cùng bạn phát triền!
//-         .wrap-table
//-             table
//-                 thead
//-                     tr
//-                         th STT
//-                         th.t-2 Vị trí tuyển dụng
//-                         th Ngày hết hạn
//-                 tbody
//-                     -for(i=0;i<5;i++)
//-                         tr
//-                             td.stt 01
//-                             td.t-2
//-                                 a(href="",data-fancybox, data-src="#content-1").title   Trợ lý Kinh Doanh khối văn Phòng
//-                             td.date 31/11/2020
//- .tuyen-dung-4
//-     .container
//-         .row
//-             .col-10
//-                 .title Điền thông tin nộp đơn
//-                 .wrap-form
//-                     .form-row
//-                         .form-group
//-                             input(type="text" placeholder="Họ và tên*")
//-                         .form-group
//-                             input(type="text" placeholder="Email*")
//-                     .form-row
//-                         .form-group
//-                             input(type="text" placeholder="Điện thoại*")
//-                         .form-group
//-                             input(type="text")
//-                     .frm-btnwrap.form-group
//-                         .frm-btn
//-                             input(type="submit" value="NỘP ĐƠN")
//- #content-1.modal-tuyen-dung
//-     .title CHUYÊN VIÊN KẾ TOÁN THANH TOÁN
//-     .wrap-content
//-         .sltd
//-             strong Số lượng tuyển dụng:
//-             span 01
//-         .content
//-             strong Quyền hạn:
//-             ul
//-                 li Kiểm tra tính đầy đủ, hợp lý và chính xác của bộ HSTT/HSTU theo điều kiện của hợp đồng và quy định của công ty Cập nhật các thông tin thay đổi (hòa đơn dịch vụ mua vào, công nợ) của NCC trong suốt quá trình thực hiện hợp đồng
//-                 li Hạch toán các khoản thanh toán cho NCC bằng tiền mặt/ tiền gửi ngân hàng, theo dõi các khoản tạm ứng của NCC đảm bảo có hóa đơn đầy đủ khi thanh quyết toán
//-         .content
//-             strong Nhiệm vụ chính:
//-             ul
//-                 li Kiểm tra tính đầy đủ, hợp lý và chính xác của bộ HSTT/HSTU theo điều kiện của hợp đồng và quy định của công ty Cập nhật các thông tin thay đổi (hòa đơn dịch vụ mua vào, công nợ) của NCC trong suốt quá trình thực hiện hợp đồng
//-                 li Hạch toán các khoản thanh toán cho NCC bằng tiền mặt/ tiền gửi ngân hàng, theo dõi các khoản tạm ứng của NCC đảm bảo có hóa đơn đầy đủ khi thanh quyết toán
//-         strong Trân trọng.
