section.block-service
    .container-fuild
        .gallery-service-slide
            .swiper-container.gallery-top
                .swiper-wrapper
                    .swiper-slide
                        .img-top
                            img(data-src="./img/service/1.png" alt="" class="lazyload")
                        .head-title
                            .title Xí nghiệp Ximăng
                            .caption chúng tôi hiện thực hóa những ý tưởng sáng tạo, cam kết chất lượng tốt nhất và sự chính xác tuyệt đối nhờ vào hiệu thống máy móc hiện đại, tối ưu hóa sản xuất để gia tăng giá trị cho sản
                            .btn-view-more
                                a(href="#") Xem thêm
                                    img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
                    .swiper-slide
                        .img-top
                            img(data-src="./img/service/3.png" alt="" class="lazyload")
                        .head-title
                            .title Xí nghiệp Gỗ
                            .caption chúng tôi hiện thực hóa những ý tưởng sáng tạo, cam kết chất lượng tốt nhất và sự chính xác tuyệt đối nhờ vào hiệu thống máy móc hiện đại, tối ưu hóa sản xuất để gia tăng giá trị cho sản
                            .btn-view-more
                                a(href="#") Xem thêm
                                    img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
                    .swiper-slide
                        .img-top
                            img(data-src="./img/service/4.png" alt="" class="lazyload")
                        .head-title
                            .title Cảng Nội Địa
                            .caption Với 25 năm kinh nghiệm, chúng tôi cung cấp dịch vụ nội thất và sản xuất đồ gỗ nổi trội vượt bậc cho các dự án khách sạn trên toàn thế giới.
                            .btn-view-more
                                a(href="#") Xem thêm
                                    img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
                    .swiper-slide
                        .img-top
                            img(data-src="./img/service/2.png" alt="" class="lazyload")
                        .head-title
                            .title LAB SDC
                            .caption chúng tôi hiện thực hóa những ý tưởng sáng tạo, cam kết chất lượng tốt nhất và sự chính xác tuyệt đối nhờ vào hiệu thống máy móc hiện đại, tối ưu hóa sản xuất để gia tăng giá trị cho sản
                            .btn-view-more
                                a(href="#") Xem thêm
                                    img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
            .wrap-gallery-thumb
                .swiper-container.gallery-thumbs-product
                    .swiper-wrapper
                        -for(i=0;i<6;i++)
                            .swiper-slide
                                .wrapper
                                    .bg-slide-service
                                        .title-slide XIMĂNG Dân Dụng
section.block-service-2.home-4(setBackground="./img/h4-banner.png")#home-4
    .wrap-container
        .row
            .col-xl-3
                .box-wrap.box-text-left
                    .section-title.line-top GIÀN KHOAN
                        br
                        | VIETSEVPETRO
                    .mota
                        p SDC là đơn vị hợp tác duy nhất với liên doanh XNLD Vietsovpetro đã đưa vào sử dụng các loại xi măng trám giếng khoan chuyên dụng, mang lại hiệu quả kinh tế kỹ thuật cao OWC, OWC-S, OWCL và OWCL-S
                    a(href="").view-detail Xem chi tiết
            .col-xl-9
                .box-wrap.box-slide
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .box-img(src="dasdas")
                                    img(data-src="./img/h3-banner.png" alt="" class="lazyload")
                                    .title LANDMARK 1
                            .swiper-slide
                                .box-img
                                    img(data-src="./img/h4-banner.png" alt="" class="lazyload")
                                    .title LANDMARK 1
                            .swiper-slide
                                .box-img
                                    img(data-src="./img/h6_bg.png" alt="" class="lazyload")
                                    .title LANDMARK 1
                            .swiper-slide
                                .box-img
                                    img(data-src="./img/h5-imgBig.png" alt="" class="lazyload")
                                    .title LANDMARK 1
                            .swiper-slide
                                .box-img
                                    img(data-src="./img/bg-lh.png" alt="" class="lazyload")
                                    .title LANDMARK 1
                    .wrap-count-slide
                        .wrap-button
                            .button-prev
                                img(data-src="./img/icon/icon-prev.png" alt="" class="lazyload")
                            .button-next
                                img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
                        .line
                        .count 01
