section.post-detail.section-post(setBackground="./img/bg-chamnho.png")
    .container
        .row
            .col-lg-10
                .wrap-header
                    .date 20
                        span 1 - 2020
                    .text
                        .cate Tin Nội Bộ
                        h2.title CHÚNG TÔI COI ĐỒNG NGHIỆP NHƯ NGƯỜI TRONG CÙNG GIA ĐÌNH
                .wrap-content
                    p Ít ai nghĩ người phụ nữ nhỏ bé với khuôn mặt chất phác này đang quản lý gần 80 công nhân, và là một trong những người có đóng góp tích cực trong việc xây dựng Sài Gòn 3 Jean từ những ngày đầu tiên.
                    p
                        img(data-src="./img/tin-tuc/tct-1.png" alt="" class="lazyload")
                    p Một công ty mới phải xây dựng bộ máy từ đầu, tất nhiên mọi quy trình còn chưa nhịp nhàng ăn khớp, các công nhân thuộc chuyền chị Lan quản lý đa số không có tay nghề, chị phải trực tiếp đào tạo họ từng đường kim mũi chỉ. Ban giám đốc nhận xét, chị Lan là một trong những gương mặt chuyền trưởng năng nổ và xông xáo với công việc nhất. “Mình từng chỉ cho những người chưa biết may bao giờ, từ cách lắp thuyền suốt, đến cách may ra sao. Có nhiều trường hợp ngộ lắm, công nhân ngồi máy vắt sổ, không biết làm sao để dừng máy nên đã lôi ngược sản phẩm lại, làm gãy cả kim,” chị Lan vui vẻ nhắc lại kỷ niệm.
                    .tac-gia tác giả/
        .wrap-post-related
            .title-small Bài viết liên quan
            .wrap-post
                .row
                    .col-lg-11
                        .row
                            -for(i=0;i<10;i++)
                                .col-lg-6
                                    a(href="").wrap-post-list-sm
                                        .img.zoom-img
                                            img(data-src="./img/tin-tuc/tt-1.png" alt="" class="lazyload")
                                            .date 28
                                                span 10-2020
                                        .wrap-text
                                            p CẠNH TRANH BẰNG SẢN PHẨM KHÁC BIỆT
                        a(href="").xem-them Xem thêm