section.wrap-post-detail
	.container
		.primary-nav
			ul
				li.active
					a(href="") Giới thiệu tổng quan 
				li
					a(href="") Giới thiệu tổng quan 
				li
					a(href="") Giới thiệu tổng quan
		.post-content
			.heading-wrap
				h2.title BĐS hậu Covid-19: Nhà đầu tư sẽ chọn bất động sản “thực” vì thanh khoản tốt
				ul.type-none
					li.time Ngày đăng :
						span 15.09.2020
					li.share 
						p Chia sẻ :
						.fb-share-button(data-href="https://www.your-domain.com/your-page.html" data-layout="button_count")
			.wrap-content
				strong Là nhận định của bà Vũ Thị Mai Hương - Giám đốc điều hành Công ty TLMs - Thuộc Tập đoàn bất động sản TLM - Đơn vị phát triển đại đô thị King Bay 125 ha khi nói về cơ hội đầu tư Bất động sản đón đầu làn sóng phục hồi sau đại dịch Covid-19.
				h3 “Xuống tiền” bây giờ đã muộn hay chưa?!
				p Bà Mai Hương cho rằng, với tác động của đại dịch Covid-19, nhiều nhà đầu tư BĐS vẫn mang tâm lý chờ đợi và quan sát, tạm dừng các quyết định mua bán trong giai đoạn này. Tuy nhiên, đó là với những nhà đầu tư không quá dồi dào về nguồn vốn hoặc dùng vốn vay vượt quá 50% vốn đầu tư còn với những nhà đầu tư trường vốn, thời điểm này lại là cơ hội tốt. Hiện tại, giới đầu tư chuyên nghiệp sẽ không hỏi có nên xuống tiền hay không mà phải là xuống tiền bây giờ đã muộn hay chưa, theo bà Mai Hương.
				
				img(data-src="./img/tin-tuc/t2.png" alt="" class="lazyload")
				p Bà Mai Hương cho rằng, với tác động của đại dịch Covid-19, nhiều nhà đầu tư BĐS vẫn mang tâm lý chờ đợi và quan sát, tạm dừng các quyết định mua bán trong giai đoạn này. Tuy nhiên, đó là với những nhà đầu tư không quá dồi dào về nguồn vốn hoặc dùng vốn vay vượt quá 50% vốn đầu tư còn với những nhà đầu tư trường vốn, thời điểm này lại là cơ hội tốt. Hiện tại, giới đầu tư chuyên nghiệp sẽ không hỏi có nên xuống tiền hay không mà phải là xuống tiền bây giờ đã muộn hay chưa, theo bà Mai Hương.
	.wrap-post-related
		.container
			.section-title2.white
				.img
					img(src="./img/bg-title-white.png", alt="")
				p Tin tức khác
			.slider
				.swiper-container
					.swiper-wrapper
						-for(x=0;x<8;x++)
							.swiper-slide
								.box-item
									.img.zoom-img
										a(href="")
											img(data-src="./img/tin-tuc/t1.png" alt="" class="lazyload")
									.wrap-text
										a(href="#").title BĐS phía Đông TP.HCM tiếp tục tăng nhiệt
										.desc Lợi thế hạ tầng giao thông đồng bộ, kinh tế phát triển của Nhơn
										a(href="#").view-detail Xem thêm
										time 15.09.2020 
				.button-slider
					.button-prev
						.img
							img(src="./img/icon-prev.png", alt="")
					.button-next
						.img
							img(src="./img/icon-next.png", alt="")

//- section.post-detail.section-post(setBackground="./img/bg-chamnho.png")
//-     .container
//-         .row
//-             .col-lg-10
//-                 .wrap-header
//-                     .date 20
//-                         span 1 - 2020
//-                     .text
//-                         .cate Tin Nội Bộ
//-                         h2.title CHÚNG TÔI COI ĐỒNG NGHIỆP NHƯ NGƯỜI TRONG CÙNG GIA ĐÌNH
//-                 .wrap-content
//-                     p Ít ai nghĩ người phụ nữ nhỏ bé với khuôn mặt chất phác này đang quản lý gần 80 công nhân, và là một trong những người có đóng góp tích cực trong việc xây dựng Sài Gòn 3 Jean từ những ngày đầu tiên.
//-                     p
//-                         img(data-src="./img/tin-tuc/tct-1.png" alt="" class="lazyload")
//-                     p Một công ty mới phải xây dựng bộ máy từ đầu, tất nhiên mọi quy trình còn chưa nhịp nhàng ăn khớp, các công nhân thuộc chuyền chị Lan quản lý đa số không có tay nghề, chị phải trực tiếp đào tạo họ từng đường kim mũi chỉ. Ban giám đốc nhận xét, chị Lan là một trong những gương mặt chuyền trưởng năng nổ và xông xáo với công việc nhất. “Mình từng chỉ cho những người chưa biết may bao giờ, từ cách lắp thuyền suốt, đến cách may ra sao. Có nhiều trường hợp ngộ lắm, công nhân ngồi máy vắt sổ, không biết làm sao để dừng máy nên đã lôi ngược sản phẩm lại, làm gãy cả kim,” chị Lan vui vẻ nhắc lại kỷ niệm.
//-                     .tac-gia tác giả/
//-         .wrap-post-related
//-             .title-small Bài viết liên quan
//-             .wrap-post
//-                 .row
//-                     .col-lg-11
//-                         .row
//-                             -for(i=0;i<10;i++)
//-                                 .col-lg-6
//-                                     a(href="").wrap-post-list-sm
//-                                         .img.zoom-img
//-                                             img(data-src="./img/tin-tuc/tt-1.png" alt="" class="lazyload")
//-                                             .date 28
//-                                                 span 10-2020
//-                                         .wrap-text
//-                                             p CẠNH TRANH BẰNG SẢN PHẨM KHÁC BIỆT
//-                         a(href="").xem-them Xem thêm
