section.lien-he(setBackground="./img/home-2/bg.png")
	.container-16
		.title-center
			.section-title.main.backInDown.text-center Tin tức
		.row
			.col-xl-4.col-lg-6
				.wrap-left
					.title Tập đoàn Bất động sản TLM
					.wrap-text-lh
						.title-lh Trụ sở chính 
						ul.des-lh.type-none
							li
								i.ri-map-pin-fill
								p 188 Nam Kỳ Khởi Nghĩa, Phường 6, Quận 3, TP. HCM 
							li
								i.ri-mail-fill
								p info@tlmcorp
							li
								i.ri-global-line
								p www.tlmcorp.vn

							li
								i.ri-phone-fill
								p 1800 5555 49
					.wrap-text-lh
						.title-lh Văn phòng Hà Nội
						ul.des-lh.type-none
							li
								i.ri-map-pin-fill
								p 4A Láng Hạ, P. Thành Công, Q. Ba Đình, TP. Hà Nội
					.wrap-text-lh
						.title-lh Phòng Chăm Sóc Khách Hàng
						ul.des-lh.type-none
							li
								i.ri-phone-fill
								p 0911 112 629
					.wrap-text-lh
						.title-lh Phòng Tuyển Dụng
						ul.des-lh.type-none
							li
								i.ri-mail-fill
								p tuyendung@tlmcorp.vn 
							li
								i.ri-phone-fill
								p 0367 375 085 (Ms. Kim Đào)
			

			.col-xl-8.col-lg-6
				.wrap-right
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3811544586533!2d106.69044381474897!3d10.782091492317706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3123215dd5%3A0xa560c96ead3ec17d!2zMTg4IE5hbSBL4buzIEto4bufaSBOZ2jEqWEsIFBoxrDhu51uZyA2LCBRdeG6rW4gMywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1613549952744!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")


section.lien-he-2(setBackground="./img/lien-he/bnf.png")
	.container-16
		.title-center
			.section-title.main.backInDown.text-center Liên hệ với chúng tôi
		.wrap-form-lh
			.wrap-form
				.form-row
					.form-group
						input(type="text" placeholder="Tên")
					.form-group
						input(type="text" placeholder="Email")
				.form-row
					.form-group
						input(type="text" placeholder="Điện thoại")
					.form-group
						input(type="text" placeholder="Địa chỉ")
				.form-group
					textarea(name="" cols="30" rows="10" placeholder="Nội dung")
				.form-group.frm-btnwrap
					.frm-btn
						//- .btn.btn-primary.text-center
							//- a(href="") Gửi
						input(type="submit" value="Gửi ")
	