//- section.home-8(setBackground="./img/home-4/bg.png")#home-8
//- 	#test-img
//- 	.wrap-container.animation-left
//- 		.container
//- 			.section-title.white Dự án
//- 		.box-wrap-big
//- 			.home-8-slide-big
//- 				.swiper-container
//- 					.swiper-wrapper
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/2.png" alt="" class="lazyload")
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/1.png" alt="" class="lazyload")
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/2.png" alt="" class="lazyload")
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/1.png" alt="" class="lazyload")
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/2.png" alt="" class="lazyload")
//- 			.box-wrap.box-slide
//- 				.swiper-container
//- 					.swiper-wrapper
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/1.png" alt="" class="lazyload")
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/1.png" alt="" class="lazyload")
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/1.png" alt="" class="lazyload")
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/1.png" alt="" class="lazyload")
//- 						.swiper-slide
//- 							.box-img(src="dasdas")
//- 								img(data-src="./img/home-4/1.png" alt="" class="lazyload")
//- 								.title LANDMARK #{x}
//- 					.wrap-count-slide
//- 						.wrap-button
//- 							.button-prev
//- 								img(data-src="./img/icon/icon-prev.png" alt="" class="lazyload")
//- 							.button-next
//- 								img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
//- 						.line
//- 						.count 01
