section.home-4.section(setBackground="./img/home-4/bg-2.png")
    .container.animation-right
        .wrap-title 
            .section-title.white Dự án
            a(href="").seemore Xem tất cả
    .s4-left.right-side
        //- .s4-left 
        .index-3-slide
            .swiper-container
                .swiper-wrapper
                    -for (i=0; i<5; i++)
                        .swiper-slide
                            .box-img
                                .img
                                    img(src="./img/home-4/2.png" alt="")
            .wrap-button.white
                .button-next
                .button-prev