// section.home-4
// 	display: block
// 	.wrap-title
// 		display: flex
// 		justify-content: space-between
// 		.seemore
// 			color: $white
// 			margin-right: r(80px)
// 			&::before
// 				background: $white
// 				transform: translateY(0)
// 				top: 20%
// 				transition: .3s all ease-in-out
// 			&:hover
// 				color: $main
// 				&::before
// 					background: $main
// 	.section
// 		@media screen and ( max-width: 1520px )
// 			padding: r(30px) 0
// .wrap-slide-s4
// 	display: flex
// 	.swiper-container
// 		width: 100%
// 		height: 630px
// 		@media screen and ( max-width: 1520px )
// 			height: 480px
// 	.s4-right
// 		flex: 0 0 100%!important
// 		width: 100%!important
// 		display: flex
// 		justify-content: center
// 		margin-left: auto
// 		position: relative
// 		.wrap-button
// 			position: absolute !important
// 			@media screen and ( max-width: 1519.9px )
// 				bottom: -100%
// 				top: auto
// 			.button-next
// 				right: 250px
// 				z-index: 9
			
// 		#ka-swiper1
// 			position: relative
// 		.wrapper
// 			height: 100%
// 			display: flex
// 			justify-content: flex-end
// 			.item
// 				position: relative
// 				flex: 2 1 0
// 				margin-right: 5px
// 				transition: .3s all ease-in-out
// 				border-radius: 25px
// 				box-shadow: 0 0 30px rgba(0, 0, 0, 0.1)
// 				max-width: 185px
// 				@media screen and ( min-width: 1580px )
// 					height: 630px
// 				@media screen and ( max-width: 767.9px )
// 					flex: 1.5 0 0 
// 				&::before
// 					content: ""
// 					position: absolute
// 					width: 100%
// 					height: 100%
// 					border-radius: 25px
// 					background: rgba(#252525, .5)
// 				&.active
// 					flex: 12 1 0
// 					max-width: 1200px
// 					transition: .3s all ease-in-out
// 					@media screen and ( max-width: 1023.9px )
// 						flex: 10 1 0
// 					@media screen and ( max-width: 767.9px )
// 						flex: 3.5
// 					&::before
// 						display: none
// 					.wrap-inner
// 						padding: r(60px)
// 						@media screen and ( max-width: 1023.9px )
// 							padding: 0
// 							display: block
// 							padding: r(30px)
// 						@media screen and ( max-width: 480px )
// 							padding: 10px
// 						.wrap-left
// 							transform: rotate(0)
// 							.sub-title
// 								font-size: r(18px)
// 								padding: 0
// 							.title
// 								font-weight: 700
// 								font-size: r(36px)
// 								padding: 0
// 							.sub-title,
// 							.title
// 								position: static
// 								transform: rotate(0)
// 								white-space: normal
// 						.wrap-right
// 							opacity: 1
// 							visibility: visible
// 							transition-delay: .4s
// 				.img
// 					height: 100%
// 					overflow: hidden
// 					border-radius: 25px
// 					img
// 						width: 100%
// 						height: 100%
// 						object-fit: cover
// 				.wrap-inner
// 					position: absolute
// 					padding: 0
// 					bottom: 30px
// 					width: 100%
// 					display: flex
// 					justify-content: space-between
// 					*
// 						color: $white
// 					.wrap-left
// 						width: 100%
// 						text-transform: uppercase
// 						position: relative
// 						.sub-title
// 							font-size: r(18px)
// 							padding: 0 -40px
// 							@media screen and ( max-width: 480px )
// 								font-size: r(14px)
// 						.title
// 							font-weight: 700
// 							font-size: r(24px)
// 							padding: 0 30px
// 							@media screen and ( max-width: 480px )
// 								padding: 0 15px
// 								font-size: r(18px)
// 						.sub-title,
// 						.title
// 							position: absolute
// 							transform: rotate(-90deg)
// 							bottom: 50px
// 							white-space: nowrap
// 					.wrap-right
// 						opacity: 0
// 						visibility: hidden
// 						transition: .3s all ease-in-out
// 						.seemore
// 							margin-top: 10px
// 							&::before
// 								background: $white
.home-4
	flex-direction: column
	.wrap-title
		display: flex
		justify-content: space-between
	.seemore
		color: $white
		margin-right: r(80px)
		&::before
			background: $white
			transform: translateY(0)
			top: 20%
			transition: .3s all ease-in-out
		&:hover
			color: $main
			&::before
				background: $main
	.box
		display: flex
		flex-direction: row
		.s4-right
			text-align: right
			margin-left: 30px
			// flex: 0 0 346px

	.index-3-slide
		// position: relative
		.swiper-container
			// width: 100%
		.box-img
			.img
				img
					height: 500px
					width: 100%
					object-fit: cover

		// 	// flex: 0 0 10.6631578947% 
		// 	width: 10.6631578947% !important
		// 	transition: .5s all ease-in-out
		// 	// overflow: hidden !important
		.swiper-slide
			img
				border-radius: 20px 
		.swiper-slide-active
			// flex: 0 0 78.6736842105% 
			width: calc(100%-380px) !important
		// 	img
		// 		width: 100%
		// .swiper-slide-next,
		// .swiper-slide-prev
		// 	flex: 0 0 10.6631578947% !important
		// 	transition: .5s all ease-in-out
		// 	width: 10.6631578947% !important
		// 	overflow: hidden !important
		// .swiper-slide-active
		// 	flex: 0 0 calc( 100% - (11.716276124%*2) ) !important
		// 	img
		// 		width: 100%
	.wrap-button
		display: contents
		.button-next,
		.button-prev
			position: absolute
			z-index: 2
		.button-next
			right: 200px
		.button-prev
			left: 200px