section.home-4.section(setBackground="./img/home-4/bg-2.png")
    .container.animation-right
        .wrap-title 
            .section-title.white Dự án
            a(href="").seemore Xem tất cả
    .s4-left.animation-left
        .index-3-slide
            .swiper-container
                .swiper-wrapper
                    -for (i=0; i<5; i++)
                        .swiper-slide
                            .box-img
                                .img
                                    img(src="./img/home-4/2.png" alt="")
                            .wrap-inner 
                                .wrap-left
                                    .sub-title.white Khu đô thị
                                    .title.white King Bay
                                .wrap-right
                                    .des King Bay nằm tiếp giáp với Quận 2 và Quận 9 của TP. Hồ Chí Minh với các tuyến giao thông quan trọng như Quốc lộ 51 nối Quốc lộ 1A với TP. Vũng Tàu , Cao tốc Long Thành - Dầu Giấy, Cao tốc Bến Lức - Long Thành kết nối sân bay Quốc tế Long Thành trong tương lai.
                                    a(href="").seemore Xem thêm
            .wrap-button.white
                .button-next
                .button-prev
    //- .wrap-slide-s4.animation-left
    //-     //- .s4-left 
    //-     .s4-right 
    //-         #ka-swiper1.swiper-container
    //-             .swiper-wrapper
    //-                 -for (i=0; i<8; i++)
    //-                     .swiper-slide
    //-                         .wrapper
    //-                             .item.active
    //-                                 .img
    //-                                     img(src="./img/home-4/2.png" alt="")
    //-                                 
    
    //-                             .item
    //-                                 .img
    //-                                     img(src="./img/home-4/1.png" alt="")
    //-                                 .wrap-inner 
    //-                                     .wrap-left
    //-                                         .sub-title.white Khu đô thị
    //-                                         .title.white King Bay
    //-                                     .wrap-right
    //-                                         .des King Bay nằm tiếp giáp với Quận 2 và Quận 9 của TP. Hồ Chí Minh với các tuyến giao thông quan trọng như Quốc lộ 51 nối Quốc lộ 1A với TP. Vũng Tàu , Cao tốc Long Thành - Dầu Giấy, Cao tốc Bến Lức - Long Thành kết nối sân bay Quốc tế Long Thành trong tương lai.
    //-                                         a(href="").seemore Xem thêm
    //-                             .item
    //-                                 .img
    //-                                     img(src="./img/home-4/1.png" alt="")
    //-                                 .wrap-inner 
    //-                                     .wrap-left
    //-                                         .sub-title.white Khu đô thị
    //-                                         .title.white King Bay
    //-                                     .wrap-right
    //-                                         .des King Bay nằm tiếp giáp với Quận 2 và Quận 9 của TP. Hồ Chí Minh với các tuyến giao thông quan trọng như Quốc lộ 51 nối Quốc lộ 1A với TP. Vũng Tàu , Cao tốc Long Thành - Dầu Giấy, Cao tốc Bến Lức - Long Thành kết nối sân bay Quốc tế Long Thành trong tương lai.
    //-                                         a(href="").seemore Xem thêm
    //-         .wrap-button.white
    //-             .button-next
    //-             .button-prev