section.home-4(setBackground="./img/home-4/bg.png")#home-4
	#test-img
	.wrap-container.animation-left
		.section-title.white Dự án
		.box-wrap.box-slide
			.swiper-container
				.swiper-wrapper
					- for (x=0; x<5; x++)
						.swiper-slide
							.box-img(src="dasdas")
								img(data-src="./img/home-4/bg.png" alt="" class="lazyload")
								.title LANDMARK #{x}
					//- .wrap-count-slide
					//- 	.wrap-button
					//- 		.button-prev
					//- 			img(data-src="./img/icon/icon-prev.png" alt="" class="lazyload")
					//- 		.button-next
					//- 			img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
						//- .line
						//- .count 01
