section.thanh-vien
    .container
        .primary-nav
            ul
                li.active
                    a(href="") Giới thiệu tổng quan 
                li
                    a(href="") Giới thiệu tổng quan 
                li
                    a(href="") Giới thiệu tổng quan
        .heading
            .title-center
                .section-title.main.backInDown.text-center Tin tức
        .box-wrap
            .wrap-content
                .row
                    .col-lg-6
                        .box-img
                            .img
                                img.lazyload(data-src="./img/thu-vien/tv2.png", alt="")
                            ul.text-desc.type-none
                                li
                                    i.ri-map-pin-fill
                                    p Địa chỉ: Căn S04 Saigon Pearl, 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, TP. HCM
                                li
                                    i.ri-phone-fill
                                    p Hotline: (028) 2253 2222
                                li
                                    i.ri-global-fill
                                    p Website: www.starbeach.com.vn
                    .col-lg-6
                        .box-text
                            .img
                                img.lazyload(data-src="./img/logo.png", alt="")
                            .text
                                strong Công ty Cổ phần Đầu tư Thương mại Dịch vụ Địa ốc Thái Dương (Thái Dương Real) là công ty thành viên của Tập đoàn Bất động sản TLM.

                                p Được thành lập từ năm 2012 với hội đồng sáng lập gồm 02 thành viên có kinh nghiệm và uy tín trong lĩnh vực đầu tư, kinh doanh bất động sản và xây dựng. Trải qua nhiều năm hình thành và phát triển, Thái Dương Real luôn vững vàng với mục tiêu mang lại cho khách hàng những sản phẩm bất động sản tốt nhất bằng dịch vụ chuyên nghiệp nhất, với đội ngũ hơn 200 cán bộ nhân viên giàu kinh nghiệm, nhiệt tình, năng động và sáng tạo.
            .wrap-content
                .row
                    .col-lg-6
                        .box-img
                            .img
                                img.lazyload(data-src="./img/thu-vien/tv2.png", alt="")
                            ul.text-desc.type-none
                                li
                                    i.ri-map-pin-fill
                                    p Địa chỉ: Căn S04 Saigon Pearl, 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, TP. HCM
                                li
                                    i.ri-phone-fill
                                    p Hotline: (028) 2253 2222
                                li
                                    i.ri-global-fill
                                    p Website: www.starbeach.com.vn
                    .col-lg-6
                        .box-text
                            .img
                                img.lazyload(data-src="./img/logo.png", alt="")
                            .text
                                strong Công ty Cổ phần Đầu tư Thương mại Dịch vụ Địa ốc Thái Dương (Thái Dương Real) là công ty thành viên của Tập đoàn Bất động sản TLM.

                                p Được thành lập từ năm 2012 với hội đồng sáng lập gồm 02 thành viên có kinh nghiệm và uy tín trong lĩnh vực đầu tư, kinh doanh bất động sản và xây dựng. Trải qua nhiều năm hình thành và phát triển, Thái Dương Real luôn vững vàng với mục tiêu mang lại cho khách hàng những sản phẩm bất động sản tốt nhất bằng dịch vụ chuyên nghiệp nhất, với đội ngũ hơn 200 cán bộ nhân viên giàu kinh nghiệm, nhiệt tình, năng động và sáng tạo.




