section.thu-vien-video
	.container
		.global-tab
			.tab-wrap
				ul.type-none
					li
						a(href="#") Thư viện ảnh
					li
						a(href="#") Thư viện video
		.heading
			.section-title2
				.img
					img(src="./img/bg-title.png", alt="")
				p Thư viện Video
			.sub-tab 
				ul.type-none
					li
						a(href="#") Hình dự án
					li
						a(href="#") Hình TLM Corp
					
					
						
		.thuvien-list
			.row
				-for(x=0;x<3;x++)
					.col-lg-4.box
						
						.box-wrap
							.bg-dark
							a(href="https://www.youtube.com/watch?v=F2cFG5Gwy4g" data-fancybox="").img
								img(src="./img/thu-vien/tv2.png", alt="")
							.info 
								a(href="#") Album 1

			.row
				-for(x=0;x<2;x++)
					.col-lg-6.box
						
						.box-wrap
							.bg-dark
							a(href="https://www.youtube.com/watch?v=F2cFG5Gwy4g" data-fancybox="").img
								img(src="./img/thu-vien/tv2.png", alt="")
							.info 
								a(href="#") Album 1




	

