section.about-us-1(setBackground="./img/about/bg-about.png")
    .container
        h2.title-small Quá trình phát triển
        .wrap-content
            .row
                .col-xl-8
                    .img
                        img(data-src="./img/about/about-us.png" alt="" class="lazyload")
                .col-xl-4
                    .content
                        .title Nguyên cố Thủ Tướng Võ Văn Kiệt tham gia đặt viên đá đầu tiên trong buổi lễ khởi công xây
                        .mota
                            p  Tiền thân là Nhà Máy Xi Măng Sài Gòn – Doanh Nghiệp Nhà Nước được thành lập theo quyết định 151/QĐ–UB ngày 19/07/1978 của Ủy Ban Nhân Dân Thành Phố Hồ Chí Minh được Nguyên cố Thủ Tướng Võ Văn Kiệt tham gia đặt viên đá đầu tiên trong buổi lễ khởi công xây dựng. Công ty Cổ Phần Phát Triển Sài Gòn – SDC tự hào là đơn vị ximăng duy nhất ở miền Nam đã cấp toàn bộ các loại ximăng trám giếng khoan phục vụ cho quá trình khai thác dầu khí, được chứng nhận bởi liên doanh Việt-Nga Vietsovpetro.
                            p   Là trạm nghiền với công suất nhỏ, chúng tôi từng bước nghiên cứu phát triển, chuyển mình và thay đổi qua từng thời kỳ để tạo ra các sản phẩm thật sự có chất lượng .Bên cạnh sản phẩm xi măng dân dụng thông thường, chúng tôi tự hào khi nhiều loại  sản phẩm ximăng chuyên dụng của SDC đã tham gia vào các dự án quan trọng, có tính biểu tượng của thành phố Hồ Chí Minh , đóng góp phần nhỏ vào sự phát triển môi trường và xã hội.
                            p Toàn thể cán bộ công nhân viên của Công ty làm việc với tinh thần sáng tạo, tiếp cận công nghệ mới, ý thức bảo vệ môi trường, tạo ra những sản phẩm chất lượng cao thoả mãn các yêu cầu của khách hàng, cam kết lấy chất lượng làm trọng tâm, khẳng định giá trị thương hiệu .
section.about-us-2
    .container
        h2.title-small Lịch Sử Phát Triển
    .wrap-slide
        .swiper-container
            .swiper-wrapper
                -for(i=0;i<5;i++)
                    .swiper-slide
                        a(href="",data-fancybox, data-src="#data-ab-1").post-item
                            .img
                                img(data-src="./img/about/ab-2.png" alt="" class="lazyload")
                            .text
                                .date 2003
                                p Chuyển đổi thành Công ty Cổ Phần Ximăng Sài Gòn
        .wrap-button
            .button-prev-1
                img(data-src="./img/icon/icon-prev.png" alt="" class="lazyload")
            .button-next-1
                img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
section.about-us-3(setBackground="./img/about/bg-about-3.png")
    .container
        h2.title-small Giá Trị Cốt Lỗi
        .wrap-content
            .row
                .col-xl-8.col-lg-6
                    .row
                        .col-xl-6
                            .wrap-box
                                img(data-src="./img/icon/nhaydoi@2x.png" alt="" class="lazyload")
                                .mota
                                    .title Tầm nhìn
                                    .content Không ngừng phấn đầu, là niềm tự hào của ngành công nghiệp nặng Việt Nam
                        .col-xl-6
                            .wrap-box
                                img(data-src="./img/icon/nhaydoi@2x.png" alt="" class="lazyload")
                                .mota
                                    .title Tầm nhìn
                                    .content Không ngừng phấn đầu, là niềm tự hào của ngành công nghiệp nặng Việt Nam

                .col-xl-4.col-lg-6
                    .circle
                        p Quản trị doanh nghiệp
section.about-us-4(setBackground="./img/bg-about-4.png")
    .container
        h2.title-small.white Ban lãnh đạo
        .wrap-content-1
            .circle
                img(src="" alt="")
            .text
                img(data-src="./img/icon/nhay_trang.png" alt="" class="lazyload")
                .content
                    p Trải nghiệm làm việc tốt hơn tại SDC
                    p là cơ sở gắn kết và truyền cảm hứng cho nhân viên
                    i ông Nguyễn Văn A
                    i Chủ tịch HĐQT
        .wrap-content-2
            -for(i=0;i<3;i++)
                .item-content
                    .circle
                        img(src="" alt="")
                    .text
                        img(data-src="./img/icon/nhay_trang.png" alt="" class="lazyload")
                        .content
                            p Trải nghiệm làm việc tốt hơn tại SDC
                            p là cơ sở gắn kết và truyền cảm hứng cho nhân viên
                            i ông Nguyễn Văn A
                            i Chủ tịch HĐQT
section.about-us-5
    a(href="https://youtu.be/kZu3AYNjmjI",data-fancybox).img
        img(data-src="./img/about/ab-3.png" alt="" class="lazyload")
    img.button-play(data-src="./img/icon/play-button.png" alt="" class="lazyload")
section.about-us-6(setBackground="./img/about/bg-ab-5.png")
    .container
        h2.title-small Phòng Lad SDC
        .row
            .col-lg-2
            .col-lg-10
                .swiper-container
                    .swiper-wrapper
                        -for(i=0;i<5;i++)
                            .swiper-slide
                                .img
                                    img(data-src="./img/about/about-6.png" alt="" class="lazyload")
                .wrap-button-text
                    .text Chúng tôi hiện thực hoá những ý tưởng sáng tạo, cam kết chất lượng tốt nhất và sự chính xác tuyệt đối nhờ vào hệ thống máy móc hiện đại, tối ưu hoá sản xuất để gia tăng giá trị cho sản phẩm.
                    .button
                        .button-prev
                            img(data-src="./img/icon/icon-black-prev.png" alt="" class="lazyload")
                        .button-next
                            img(data-src="./img/icon/icon-next-black.png" alt="" class="lazyload")
#data-ab-1.modal-about-slide
    .swiper-container
        .swiper-wrapper
            -for(i=0;i<5;i++)
                .swiper-slide
                    .img
                        img(data-src="./img/about/about-7.png" alt="" class="lazyload")
    .swiper-pagination
    .button
        .button-prev
            img(data-src="./img/icon/icon-prev.png" alt="" class="lazyload")
        .button-next
            img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")

