section.product-detail
    .container
        .row
            .col-lg-7
                .content-pro-detail
                    .title-pro-detail Đặc điểm nổi bậc của ximăng pooclăng hỗn hợp bền sunphát: 
                    .caption-pro-detail SDC nghiên cứu thành phần tỷ lệ NVL phù hợp, xi măng có độ mịn & thành phần hạt tối ưu: giảm tính thấm của vữa ximăng , giúp cho bêtông có cấu trúc đặc chắc, giảm mức độ thấm của bêtông giúp ngăn ngừa đồng thời cả 2 tác nhân ăn mòn do sun phát và ăn mòn do clo, tăng tuổi thọ của công trình. 
                    .title-pro-detail Kết quả thử nghiệm tại SDC chứng minh:
                    .caption-pro-detail Kết quả thử nghiệm tại SDC chứng minh: Cùng ngâm mẫu vữa ximăng các loại khác nhau trong dịch sunphát cho thấy mẫu xi măng pooclăng hỗn hợp bền sunphát có mức độ nở rất thấp, dưới ngưỡng cho phép (0.1% sau 6 tháng) so với 2 loại còn lại:
            .col-lg-5
                .card_img
                    .img
                        img(src="./img/product-news/detail.png", alt="")
            .big-content-detail
                .img
                    img(src="./img/product-news/detail-2.png", alt="")
                p Thử mức độ thấm ion Cl qua mẫu bêtông mác 400MPa khi sử dụng cấp phối với các loại ximăng  khác nhau, kết quả cho thấy mẫu bêtông sử dụng ximăng pooclăng hỗn hợp bền sunphát có điện lượng truyền qua là thấp nhất (nghĩa là độ thấm ion Clo là tốt nhất ) so với các mẫu còn lại:
                .img
                    img(src="./img/product-news/detail-2.png", alt="")
                p Thử mức độ thấm ion Cl qua mẫu bêtông mác 400MPa khi sử dụng cấp phối với các loại ximăng  khác nhau, kết quả cho thấy mẫu bêtông sử dụng ximăng pooclăng hỗn hợp bền sunphát có điện lượng truyền qua là thấp nhất (nghĩa là độ thấm ion Clo là tốt nhất ) so với các mẫu còn lại: