section.home-3.main-section(setBackground="./img/bg-home3.png")
	.container.animation-top
		.box-wrap
			.row
				.col-lg-4.col-md-12
					.wrap-left.fadeInTopLeft
						.section-title.green.backInDown Giới thiệu CSR
						.desc.fadeInTopLeft Cuộc sống lý tưởng #[br]dựa trên hạnh phúc #[br] của cộng đồng
						.content.backInUp Trên cả kinh doanh, với mong muốn cống hiến nhiều hơn cho xã hội, Chủ tịch Hội đồng Quản trị kiêm tổng Giám đốc TLM Corporations đã thành lập Quỹ từ thiện Hoa Phước - Quỹ từ thiện chuyên giúp đỡ trẻ em & người lớn tuổi có hoàn cảnh khó khăn trên khắp cả nước.
						.btn.btn-primary
							a(href="") Xem thêm
				.col-lg-8.col-md-12 
					.wrap-right.fadeInTopRight
						-for(i=0;i<3;i++)
							.item
								a(href="").img 
									img.lazyload(data-src="./img/home-3/1.png", alt="")
								.wrap-inner 
									.icon
										img.lazyload(data-src="./img/home-3/icon/1.png", alt="")
									a(href="").content Chứng nhận giải thưởng