section.home-3.main-section
	.container.animation-top
		.section-title Lĩnh vực hoạt động
		.img-big.backInLeft
			img(data-src="./img/h3-1.png" alt="" class="lazyload")
		.wrap-post-small
			.row
				.col-lg-3.col-md-12.wrap-text
					.box-item.box-text.fadeInTopLeft
						.mota Sản xuất kinh doanh các loại xi măng và các loại vật liệu kết dính khác. Sản xuất, kinh doanh các sản phẩm đồ gỗ nội thất xuất khẩu. Cảng thủy nội địa Xi Măng Sài Gòn nhập nguyên liệu phục vụ sản xuất xi măng. Hợp tác sản xuất bê tông tươi.
						a(href="").view-detail Xem chi tiết
				-for(i=0;i<3;i++)
					.col-lg-3.col-md-4
						a(href="").box-item.zoom-img.box-img.flipInX
							img(data-src="./img/h3-2.png" alt="" class="lazyload")
							.text Cảng Ximăng
								br
								| Sài Gòn

