
extends _layout.pug

block var
    - var title = 'Công Ty Thành Viên'
    - var bodyClass = 'thanh-vien'

block main
    include ../components/banner/pages-banner
    include ../components/breadcrumb/breadcrumb
    include ../components/gioi-thieu/thanh-vien/index.pug