extends _layout.pug

block var
    - var title = 'Dự Án'
    - var bodyClass = 'du-an-page'
block main
    include ../components/banner/pages-banner
    include ../components/breadcrumb/breadcrumb
    include ../components/du-an/index.pug