extends _layout.pug

block var
    - var title = 'Dự Án Chi Tiết'
    - var bodyClass = 'du-an-ct-page'
block main
    include ../components/banner/pages-banner
    include ../components/breadcrumb/breadcrumb
    include ../components/du-an-ct/index.pug