extends _layout.pug

block var
    - var title = 'Tổng Quan'
    - var bodyClass = 'intro-page'
block main
    include ../components/banner/pages-banner
    include ../components/breadcrumb/breadcrumb
    //- include ../components/primary-nav/index
    include ../components/gioi-thieu/tong-quan/index.pug
    include ../components/_global/footer/footer.pug
    include ../components/home/h-6/index.pug
