extends _layout.pug

block var
    - var title = 'Năng Lực'
    - var bodyClass = 'nang-luc-page'
block main
    include ../components/banner/pages-banner
    include ../components/breadcrumb/breadcrumb
    //- include ../components/primary-nav/index
    include ../components/gioi-thieu/nang-luc/index.pug
    include ../components/_global/footer/footer.pug
    include ../components/home/h-6/index.pug