extends _layout.pug

block var
    - var title = 'Tuyen Dung'
    - var bodyClass = 'main-lien-he'

block main
    include ../components/banner/pages-banner.pug
    include ../components/lien-he/index.pug