extends _layout.pug

block var
    - var title = 'Liên hệ'
    - var bodyClass = 'intro-page'

block main
    include ../components/banner/pages-banner.pug
    include ../components/breadcrumb/breadcrumb
    include ../components/lien-he/index.pug