extends _layout.pug

block var
    - var title = 'Chi Tiết Tin Tức'
    - var bodyClass = 'intro-page'

block main
    include ../components/banner/pages-banner.pug
    include ../components/breadcrumb/breadcrumb
    include ../components/tin-tuc/detail/index.pug