extends _layout.pug

block var
    - var title = 'Tuyen Dung'
    - var bodyClass = 'list-post'

block main
    include ../components/banner/pages-banner.pug
    include ../components/tin-tuc/list/index.pug