extends _layout.pug

block var
    - var title = 'tin-tuc chi tiet'
    - var bodyClass = 'tin-tuc chi tiet'

block main
    include ../components/banner/pages-banner.pug
    include ../components/tin-tuc/detail/index.pug
