extends _layout.pug

block var
    - var title = 'Sản phẩm mới'
    - var bodyClass = 'product-news-page'

block main
    include ../components/banner/pages-banner.pug
    include ../components/service/product-news/index.pug
