extends _layout.pug

block var
    - var title = 'Tuyen Dung'
    - var bodyClass = 'main-qhcd'

block main
    include ../components/banner/pages-banner.pug
    include ../components/quan-he-co-dong/index.pug