extends _layout.pug

block var
    - var title = 'Tuyen Dung'
    - var bodyClass = 'main-san-pham'

block main
    include ../components/banner/sp-banner.pug
    include ../components/san-pham-owc/index.pug