extends _layout.pug

block var
    - var title = 'thu-vien-anh'
    - var bodyClass = 'thu-vien-anh'

block main
    include ../components/banner/pages-banner.pug
    
    include ../components/breadcrumb/breadcrumb
    include ../components/thu-vien-anh/index.pug
    include ../components/_global/footer/footer.pug
    include ../components/home/h-6/index.pug
