extends _layout.pug

block var
    - var title = 'thu-vien-anh'
    - var bodyClass = 'thu-vien-anh'

block main
    include ../components/banner/pages-banner.pug
    include ../components/thu-vien-anh/index.pug
