extends _layout.pug

block var
    - var title = 'thu-vien-video'
    - var bodyClass = 'thu-vien-video'

block main
    include ../components/banner/pages-banner.pug
    include ../components/breadcrumb/breadcrumb
    include ../components/thu-vien-video/index.pug
    include ../components/_global/footer/footer.pug
    include ../components/home/h-6/index.pug