extends _layout.pug

block var
    - var title = 'Videos'
    - var bodyClass = 'thu-vien-video'

block main
    include ../components/banner/pages-banner.pug
    include ../components/breadcrumb/breadcrumb
    include ../components/thu-vien-video/index.pug