extends _layout.pug

block var
    - var title = 'Tuyen Dung ct'
    - var bodyClass = 'tuyen-dung-ct'

block main
    include ../components/banner/pages-banner.pug
    include ../components/breadcrumb/breadcrumb
    include ../components/tuyen-dung-ct/index.pug
    include ../components/_global/footer/footer.pug
    include ../components/home/h-6/index.pug
