extends _layout.pug

block var
    - var title = 'Tuyển Dụng'
    - var bodyClass = 'tuyen-dung'

block main
    include ../components/banner/pages-banner.pug
    include ../components/breadcrumb/breadcrumb
    include ../components/tuyen-dung/index.pug