extends _layout.pug

block var
    - var title = 'Tuyển Dụng Chi Tiết'
    - var bodyClass = 'tuyen-dung-ct'

block main
    include ../components/banner/pages-banner.pug
    include ../components/breadcrumb/breadcrumb
    include ../components/tuyen-dung-ct/index.pug
