section.home-2.main-section(setBackground="./img/banner-home-1.png")
	.container.animation-bottom
		.section-title.backInDown
			| Chào mừng đến SDC
		.des.fadeInTopLeft
			p SDC là một nhà công ty giải pháp hiệu quả trong lĩnh vực dịch vụ sản xuất ximăng. SDC còn là nhà phát triển, tư vấn phát triển dự án, là đơn vị nghiên cứu thị trường uy tín (R&D) được các chuyên gia, chủ đầu tư đánh giá cao.
		.wrap-img.backInUp
			.img-small.zoom-img
				img(data-src="./img/h2-2.png" alt="" class="lazyload")
			.img-big.zoom-img
				img(data-src="./img/h2-1.png" alt="" class="lazyload")
			.img-small.zoom-img
				img(data-src="./img/h2-3.png" alt="" class="lazyload")
		.des.text-2.fadeInTopRight
			p Từ uy tín và kinh nghiệm phân phối nhiều năm SDC, SDC được phát triển chuyên sâu trong phân sản phẩm phù hợp với khách hàng, mang đến những dịch vụ tốt nhất và giá trị đẳng cấp cho đối tác, khách hàng. SDC luôn tạo nên sự khác biệt trên thị trường bằng uy tín và vị thế vững chắc, hiệu quả vượt trội cũng như sự chuyên nghiệp.
		.view-more.fadeInTopRight
			a(href="").icon-link
				em.material-icons arrow_forward