section.home-2.main-section(setBackground="./img/home-2/bg.png")
	.js-ml.animation-bottom
		.wrap-box
			.wrap-left
				.img
					img.lazyload(data-src="./img/logo.png", alt="")
				.section-title.backInDown.no-icon
					| Tập đoàn Bất Động Sản TLM
				.des.fadeInTopLeft
					| Được hình thành từ hai đơn vị nòng cốt: Công ty Cổ phần Đầu tư Kinh doanh BĐS Star Beach và Công ty Cổ phần Đầu tư Thương mại Dịch vụ Địa ốc Thái Dương.
					br
					| Tập đoàn bất động sản TLM chuyên hoạt động trong lĩnh vực Đầu tư và phát triển bất động sản phân khúc trung – cao cấp.
				.btn.btn-primary
					a(href="") Xem thêm
		.wrap-right.backInUp
			a(data-fancybox="images" href="./img/home-2/bg-2.png").img
				img.lazyload(data-src="./img/home-2/bg-2.png", alt="")
				.btn-play
		