footer(setBackground="./img/bg-footer.png")
	.bg-fake(setBackground="./img/icon.png")
		.footer.animation-left
			.container
				.section-title Liên hệ
				.wrap-address 
					.item 
						.item-content
							.title 
								em.ri-map-pin-fill
								span Tập đoàn Bất động sản TLM
							.content 188 Nam Kỳ Khởi Nghĩa, Phường 6, Quận 3, TP. HCM
					.item 
						.item-content
							.title 
								em.ri-map-pin-fill
								span Chi nhánh tại Hà Nội
							.content Tòa nhà Harec, số 4A Láng Hạ, Phường Thành Công, Quận Ba Đình, TP. Hà Nội
					.item 
						.item-content
							.title 
								em.ri-mail-send-fill
								span Đăng ký nhận tư vấn
							.subcribe 
								.subcribefrm 
									input(type="text", placeholder="Nhập địa chỉ email")
									button Gửi
				.footer-menu
					ul 
						li.active
							a(href="") 
								em.ri-home-6-fill
						li 
							a(href="") Giới thiệu 
						li 
							a(href="") Dự án 
						li 
							a(href="") Thư viện
						li 
							a(href="") Nhân lực 
						li 
							a(href="") Liên hệ
					ul 
						li
							a(href="") Điều khoản sử dụng
						li 
							a(href="") Chính sách bảo mật
						li 
							a(href="") Sơ đồ trang web
					.copyright
						span Copyright © 2020 Bản quyền thuộc về TLM Corp. Thiết kế Website bởi
						a(href="https://www.canhcam.vn/thiet-ke-website?gclid=cjwkcaiag8obbha8eiwalkw3krucdtoh4z3o84bxdbxxmstdm8lkuanobgj90lauraxei2evkr74jbocemyqavd_bwe")  Cánh Cam.
					.social 
						a(href="")
							em.ri-facebook-box-fill 
						a(href="")
							em.ri-youtube-fill 
						a(href="")
							em.ri-instagram-line
			