footer(setBackground="./img/background-footer.png")
	.footer
		.container
			.row
				.col-xl-3
				.col-xl-9
					.title Liên hệ với chúng tôi
					.line
					.box-ft-2
						.row
							.col-lg-6
								.contact
									.title Trụ sở đăng ký của Công ty
									.adress 143/7D Ung Văn Khiêm, Phường 25, Quận Bình Thạnh, Tp. Hồ Chí Minh.
								.contact
									.title Trụ sở đăng ký của Công ty
									.adress 143/7D Ung Văn Khiêm, Phường 25, Quận Bình Thạnh, Tp. Hồ Chí Minh.
							.col-lg-6
								.box-right
									.row
										.col-lg-6
											.contact
												.title LIÊN HỆ
												.adress sdc-info@sdc.com.vn
													br
													| (028) 37 325 534 –
													br
													| (028) 37 325 363
													br
													| fax (028) 37 325 364
										.col-lg-6
											.contact
												.title GIỜ LÀM VIỆC
												.adress Thứ Hai – Thứ Sáu: 8:00 AM – 4:30PM
													br
													| Thứ Bảy:
													br
													| 8:00 AM – 4:30 PM
					.line
					.box-ft-3
						.row
							.col-lg-6
								.title-small Mạng xã hội
								ul.list-item.type-none
									li
										a(href="") Facebook
									li
										a(href="") Youtube
							.col-lg-6
								.title-small Liên kết nhanh
								ul.list-item.type-none
									li
										a(href="") Trang chủ
									li
										a(href="") Giới thiệu
									li
										a(href="") Sản phẩm
									li
										a(href="") Tin tức
									li
										a(href="") Dự án
									li
										a(href="") Liên hệ
					.line
					.copy-right © Copyright 2020 SDC. All Rights Reserved. Powered By Canh Cam