section.ho-so-nang-luc
    .container
        .heading
            .section-title2
                .img
                    img(src="./img/bg-title.png", alt="")
                p Hồ sơ năng lực
        .slider
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .img
                            img.lazyload(data-src="./img/pagebanner.png")
                           
                    .swiper-slide
                        .img
                            img.lazyload(data-src="./img/pagebanner.png")
                            
            .button
                .button-prev
                    .img
                        img.lazyload(data-src="./img/icon-prev.png", alt="")

                .button-next
                    .img
                        img.lazyload(data-src="./img/icon-next.png", alt="")