.primary-nav
    .container
        ul
            li.active
                a(href="") Giới thiệu tổng quan 
            li
                a(href="") Giới thiệu tổng quan 
            li
                a(href="") Giới thiệu tổng quan 
