.home-5
	justify-content: center
	align-items: center
	.swiper-news
		position: relative
		.item
			display: flex
			flex-direction: column
			border-radius: 20px
			background-color: $white
			cursor: pointer
			.img
				display: flex
				+img-ratio(255/390)
				img
					width: 100%
			.box-content
				position: relative
				padding: r(15px) r(25px) r(25px) r(50px)
				.title
					+line(3)
					font-size: r(24px)
					line-height: 1.2
					margin-bottom: r(20px)
					transition: .3s all
				.desc
					+line(1)
					font-size: r(14px)
					line-height: r(18px)
				.inner-date
					top: 95px
					bottom: 0
					left: 0
			&:hover
				.title
					color: $main-2
				.inner-date
					background-color: $main-2
