section.home-5.main-section(setBackground="./img/h5-bg.png")
	.warp-container.animation-right
		.Module
			.ModuleContent
				h2.section-title.black TIN TỨC
				.row
					.col-lg-6
						.post-big.moveInRight
							.img.zoom-img
								a(href="")
									img(src="./img/tct-1.png" alt="")
							.wrap-text
								.content
									a(href="").title BROCHURE SP XI MĂNG
									.desc Lorem ipsum dolor sit amet, consecte adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								.wrap-button
									a(href="").view-detail Xem chi tiết
					.col-lg-6
						-for(i=0;i<3;i++)
							.post-small.moveInLeft
								.img.zoom-img
									a(href="")
										img(src="./img/tct-1.png" alt="")
								.text
									a(href="").title BROCHURE SP XI Măng
									.desc Lorem ipsum dolor sit amet, consecte adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.


		//- .wrap-big
		//- 	.img.zoom-img
		//- 		a(href="")
		//- 			img(data-src="./img/h5-imgBig.png" alt="" class="lazyload")
		//- 	.wrap-text
		//- 		.date 28
		//- 			span 10-2020
		//- 		.wrap-left
		//- 			a(href="").title-link THAY ĐỔI CÁCH NHÌN VỀ SẢN XUẤT XI MĂNG
		//- 			a(href="").view-detail Xem chi tiết
		//- .wrap-small
		//- 	-for(i=0;i<2;i++)
		//- 		a(href="").box-post-small
		//- 			.img.zoom-img
		//- 				img(data-src="./img/h5-2.png" alt="" class="lazyload")
		//- 				.date 28
		//- 					span 10-2020
		//- 			.wrap-title CẠNH TRANH BẰNG SẢN PHẨM KHÁC BIỆT
		//- 			.view-detail Xem Chi tiết


