section.block-product-news
    .container-fuild
        .gallery-product-detail-slide
            .swiper-container.gallery-top-product
                .swiper-wrapper
                    .swiper-slide
                        .wrap-text-left
                            .img-top
                                img(data-src="./img/service/bg-sp.png" alt="" class="lazyload")
                            .wrap-slide-product.container
                                .row
                                    .col-xl-4
                                        .wrap-text-main
                                            .title-main xi măng
                                                br
                                                | POÓC LĂNG
                                                br
                                                |HỖN HỢP
                                            .mota Sản phẩm xi măng POÓC LĂNG HỖN HỢP là thành quả sau 2 năm nghiên cứu, phát triển của các kỹ sư hàng đầu của Công ty Phát Triển Sài Gòn. Đây là sản phẩm đáp ứng linh hoạt yêu cầu của xây dựng dân dụng nhờ ba đặc điểm nổi bật.
                                    .col-xl-8
                                        .wrap-slide
                                            .swiper-container.product-slide-m
                                                .swiper-wrapper
                                                    -for(i=0;i<5;i++)
                                                        .swiper-slide
                                                            .wrap-product-main
                                                                .img
                                                                    img(data-src="./img/service/ximang-sp.png" alt="" class="lazyload")
                                                                .title-sp
                                                                    p ximăng Poóc Lăng hỗn hợp
                                                                    strong PCB 40
                                            .wrap-button
                                                .button-prev-1
                                                    img(data-src="./img/icon/icon-prev.png" alt="" class="lazyload")
                                                .button-next-1
                                                    img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
                    .swiper-slide
                        .wrap-text-left
                            .img-top
                                img(data-src="./img/service/bg-sp.png" alt="" class="lazyload")
                            .wrap-slide-product.container
                                .row
                                    .col-xl-4
                                        .wrap-text-main
                                            .title-main xi măng
                                                br
                                                | POÓC LĂNG
                                                br
                                                |HỖN HỢP
                                            .mota Sản phẩm xi măng POÓC LĂNG HỖN HỢP là thành quả sau 2 năm nghiên cứu, phát triển của các kỹ sư hàng đầu của Công ty Phát Triển Sài Gòn. Đây là sản phẩm đáp ứng linh hoạt yêu cầu của xây dựng dân dụng nhờ ba đặc điểm nổi bật.
                                    .col-xl-8
                                        .wrap-slide
                                            .swiper-container.product-slide-m
                                                .swiper-wrapper
                                                    -for(i=0;i<5;i++)
                                                        .swiper-slide
                                                            .wrap-product-main
                                                                .img
                                                                    img(data-src="./img/service/ximang-sp.png" alt="" class="lazyload")
                                                                .title-sp
                                                                    p ximăng Poóc Lăng hỗn hợp
                                                                    strong PCB 40
                                            .wrap-button
                                                .button-prev-1
                                                    img(data-src="./img/icon/icon-prev.png" alt="" class="lazyload")
                                                .button-next-1
                                                    img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
            .wrap-gallery-thumb
                .swiper-container.gallery-thumbs-product
                    .swiper-wrapper
                        -for(i=0;i<5;i++)
                            .swiper-slide
                                .wrapper
                                    .bg-slide-service
                                        .title-slide XIMĂNG Dân Dụng
section.block-product-news-2(setBackground="./img/h4-banner.png")
    .wrap-container
        .row
            .col-xl-3
                .box-wrap.box-text-left
                    .section-title.line-top GIÀN KHOAN
                        br
                        | VIETSEVPETRO
                    .mota
                        p SDC là đơn vị hợp tác duy nhất với liên doanh XNLD Vietsovpetro đã đưa vào sử dụng các loại xi măng trám giếng khoan chuyên dụng, mang lại hiệu quả kinh tế kỹ thuật cao OWC, OWC-S, OWCL và OWCL-S
                    a(href="").view-detail Xem chi tiết
            .col-xl-9
                .box-wrap.box-slide
                    .swiper-container
                        .swiper-wrapper
                            -for(i=0;i<8;i++)
                                .swiper-slide
                                    .box-img.zoom-img
                                        img(data-src="./img/h4-4.png" alt="" class="lazyload")
                                        .title LANDMARK 1
                    .wrap-count-slide
                        .wrap-button
                            .button-prev
                                img(data-src="./img/icon/icon-prev.png" alt="" class="lazyload")
                            .button-next
                                img(data-src="./img/icon/icon-next.png" alt="" class="lazyload")
                        .line
                        .count 01
