<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="Menu footer" value="2" resourcefile="" />
      <add name="Quản trị doanh nghiệp" value="4" resourcefile="" />
      <add name="Dự án" value="8" resourcefile="" />
      <add name="Home - Chào mừng" value="16" resourcefile="" />
      <add name="Home - Chào mừng 2" value="32" resourcefile="" />
      <add name="Home - Chào mừng 3" value="64" resourcefile="" />
      <add name="Home - Chào mừng 4" value="128" resourcefile="" />
      <add name="Home - Chào mừng 5" value="256" resourcefile="" />
      <add name="Menu Header" value="512" resourcefile="" />
    </position>

</settings>
