<?xml version="1.0" encoding="utf-8" ?>
<settings>

	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Menu trái" value="1" resourcefile="" />
		<add name="Menu phải" value="2" resourcefile="" />
		<add name="Menu footer" value="4" resourcefile="" />
		<add name="Home - Tập đoàn Bất Động Sản TLM" value="8" resourcefile="" />
		<add name="Home - Giới thiệu CSR" value="16" resourcefile="" />
		<add name="Home - Dự án" value="32" resourcefile="" />
		<add name="Home - Tin tức" value="64" resourcefile="" />
		<add name="Home - Đối tác" value="128" resourcefile="" />
	</position>

</settings>
