section.content-san-pham
    .container
        .row
            .col-lg-10
                .main-content
                    h2.main-title Ăn mòn sunphát là một trong những dạng ăn mòn gây  phá hủy cấu trúc của bê tông. Ăn mòn xảy ra khi khối bêtông tiếp xúc trực tiếp với nguồn nước ,đất chứa sunphát, môi trường nước biển , trong các nhà máy xử lý nước thải.
                    .content
                        p Bê tông khi tiếp xúc môi trường chứa ion sun phát SO42- ,  khoáng calcium aluminat  C3A tương tác với ion sunphát tạo thành sản phẩm canxi sunphát CaSO4.2H2O ; portlandite Ca(OH)2  , ettringite (C3A.3CS.H32 ) : là các sản phẩm có thể tích lớn hơn so với khoáng được tạo thành ban đầu,  gây trương nở thể tích , làm bêtông bị mất độ cứng  . Ximăng bê tông nứt vỡ và tạo điều kiện thuận lợi cho các ion xâm thực khác (Na+, K+ ,Mg2 ) tương tác tạo thành các  sản phẩm xâm thực  với khối bê tông dẫn đến phá hủy cấu trúc.
            .col-lg-12
                .wrap-product
                    .row
                        .col-xl-6
                            .img
                                img(data-src="./img/san-pham/img-product.png" alt="" class="lazyload")
                        .col-xl-6
                            .wrap-content-product
                                .small XI MĂNG OWC
                                .section-title.main Xi măng  poóclăng trám giếng khoan (OWC)
                                ul.list-item
                                    li Sử dụng bơm trám các giếng khoan có nhiệt độ đáy đến 100oC (chiều sâu 2600m). 
                                    li Trị số áp suất vĩa từ trung bình đến cao (gradient áp suất vỉa từ 0.0135 – 0.0165MPa/m).
                                    li Khi tỷ lệ Nước/ Xi măng có trị số từ 0.5 – 0.6 sẽ thu được tỷ trọng vữa 1.72 – 1.80 g/cm3. 
                                    li Độ bền sulfate ở mức độ trung bình và cao.
include ../home/h-4/index.pug



