section.section.du-an(setBackground="./img/du-an/bg.jpg")
    .container
        .wrap-container
            -for(i=0; i<4; i++)
                .wrap-box 
                    .wrap-left
                        .img.zoom-img 
                            img.lazyload(data-src="./img/du-an/1.png")
                    .wrap-right
                        .wrap-content
                            .section-title King Bay
                            .content
                                p Khu đô thị sinh thái phức hợp King Bay tọa lạc tại vị trí chiến lược và độc tôn tại cửa ngõ phía Đông của Thành phố Hồ Chí Minh, với hệ thống giao thông hiện đại và được đầu tư đồng bộ.
                                p Được thiên nhiên ưu đãi với 3 mặt tiền sông Đồng Nai, King Bay sở hữu địa thế phong thủy quý hiếm, là nguồn cội của thịnh vượng, tài lộc, sức khỏe cho chủ nhân sở hữu.
                            .btn.btn-primary
                                a(href="") Xem thêm
