//- header
//-     .logo
//-         a(href="index.html")
//-             img(src="./img/logo.png" alt="")
//-     .wrap-right
//-         .icon-search
//-             em.material-icons search
//-         .change-lang EN
//-             .list-change
//-                 a(href="") EN
//-                 a(href="") VN
//-         .hambuger
//-             span
//-             span
//-             span
//-             span
//- .menu-fullscreen
//-     .wrap-main
//-         .logo
//-             a(href="")
//-                 img(src="./img/logo-menu.png" alt="")
//-         ul.list-menu.type-none
//-             li.nav-item.active
//-                 a(href="index.html").nav-link Trang chủ
//-             li.nav-item
//-                 a(href="about-us.html").nav-link Giới thiệu
//-             li.nav-item
//-                 a(href="service.html").nav-link Dịch vụ
//-             li.nav-item
//-                 a(href="project.html").nav-link Dự án
//-             li.nav-item
//-                 a(href="post-list.html").nav-link Tin tức
//-             li.nav-item
//-                 a(href="tuyen-dung.html").nav-link Tuyển dụng
//-             li.nav-item
//-                 a(href="quan-he-co-dong.html").nav-link Quan hệ cổ đông
//-             li.nav-item
//-                 a(href="lien-he.html").nav-link Liên hệ
//-         .menu-overlay Menu
//-     .wrap-right
//-         .small-menu Menu
//-     .icon-close
//-         img(src="./img/icon-close.png" alt="")
//- .search-wrap
//-     .search-middle
//-         .close-btn X
//-         .wrap-button.searchbox
//-             input.form-control.search-t(type='text' placeholder='Tìm kiếm...')
//-             button.button-search
//-                 em.material-icons search
header
    .header-top
        .container
            .header-top-primary
                .wrap-left
                    em.ri-phone-line
                    span Hotline: 1900 555 549
                .wrap-search 
                    .searchbox
                        input(type="text",placeholder='Tìm kiếm')
                        button
                .wrap-language VN
                    .dropdown
                        a(href="").item EN
    .header-bottom
        .container
            .primary-menu
                ul
                    li.active
                        a(href="")
                            em.ri-home-6-fill
                    li
                        a(href="") Giới thiệu
                        .dropdown
                            a(href="") Item 1
                            a(href="") Item 2
                            a(href="") Item 3
                    li
                        a(href="") Dự án
                    li
                        a(href="") Tin tức
                .logo
                    a(href="").img
                        img.lazyload(data-src="./img/logo.png", alt="")
                ul
                    li
                        a(href="") Thư viện
                    li
                        a(href="") Nguồn Nhân lực 
                    li
                        a(href="") Liên hệ
            .toggle-menu
                span
                span
                span
                span



