header
    section.header-top
        .container
            .header-top-primary
                .wrap-left
                    em.ri-phone-line
                    span Hotline: 1900 555 549
                .wrap-search 
                    .searchbox
                        input(type="text",placeholder='Tìm kiếm')
                        button
                .wrap-language VN
                    .dropdown
                        a(href="").item EN
    section.header-bottom
        .container
            .primary-menu
                ul
                    li.active
                        .title
                            a(href="")
                                em.ri-home-6-fill
                    li.dropdown-menu
                        .title
                            a(href="") Giới thiệu
                            em.ri-arrow-down-s-line
                        .dropdown
                            .dropdown-item
                                a(href="gioi-thieu-tong-quan.html") Giới thiệu tổng quan
                            .dropdown-item
                                a(href="gioi-thieu-nang-luc.html") Hồ sơ năng lực
                            .dropdown-item
                                a(href="cong-ty-thanh-vien.html") Công ty thành viên
                    li.dropdown-menu
                        .title
                            a(href="") Dự Án
                            em.ri-arrow-down-s-line
                        .dropdown
                            .dropdown-item
                                a(href="") Item 1
                            .dropdown-item
                                a(href="") Item 1
                            .dropdown-item
                                a(href="") Item 1
                    li
                        .title
                            a(href="") Tin tức
                .logo
                    a(href="").img
                        img.lazyload(data-src="./img/logo.png", alt="")
                ul
                    li
                        .title
                            a(href="thu-vien-anh.html") Thư viện
                    li
                        .title
                            a(href="") Nguồn Nhân lực 
                    li
                        .title
                            a(href="lien-he.html") Liên hệ
            .toggle-menu
                span
                span
                span
                span



