section.banner-home#home-banner
	.swiper-container.slide-home
		.swiper-wrapper
			-for(i= 0; i < 4; ++i)
				.swiper-slide
					.box-banner
						.img
							img(src="./img/homebanner.png" alt="")
						.box-text
							h2 Đỉnh cao của giá trị thật và sự trung tín
		//- // Add Pagination
		//- .swiper-pagination.swiper-pagination-1