section#pagebanner
	.img
		img(data-src="./img/tuyen-dung/page-banner.png" alt="" class="lazyload")
	.box-text
		h2.title-line Dịch vụ
		p.title-small SDC không ngừng tìm kiếm các ứng viện tài năng với chính sách đãi ngộ tốt