section#pagebanner
	.img
		img(data-src="./img/bn-child.png" alt="" class="lazyload")
	.box-text
		h2.title-line Liên hệ
		.global-breadcrumb
			
			ol.breadcrumb
				li
					a(href='index.html')
				li.active
					a(href='#') Danh mục cấp 1
				li 
					a(href="") Tin tức
				
