section.sp-banner(setBackground="./img/san-pham/bg-header-sp-2.png")
    .container
        .wrap-product-main
            .row
                .col-xl-4
                    .wrap-text
                        .title XIMĂNG POOCLĂNG
                            br
                            | BỀN SUN PHÁT
                        .title-sp PC
                            span SR
                .col-xl-8
                    .wrap-product
                        .img
                            img(data-src="./img/sp-img.png" alt="" class="lazyload")
                        .box-ke
        .line
