section.project-detail
    .container
        .row
            .col-lg-3
                .left-project-detail
                    .title-left Dự án
                    .content
                        ul
                            li
                                a(href="#") GIÀN KHOAN VIETSEVPETRO
                            li
                                a(href="#") KHU ĐÔ THỊ ĐẠI QUANG MINH
                            li
                                a(href="#") LANDMARK 81
                            li
                                a(href="#") KÊNH NHIÊU LỘC
                            li
                                a(href="#") CẦU THỦ THIÊM 2
                            li
                                a(href="#") CẦU CHỮ Y
                            li
                                a(href="#") KÊNH TÂN HOÁ - LÒ GỐM
            .col-lg-9
                .right-project-detail
                    .title-right Cầu thủ thiêm 2
                    .project-detail-slide
                        .swiper-container.gallery-top-project
                            .swiper-wrapper
                                .swiper-slide
                                    img(data-src="./img/project-detail/1.png" alt="" class="lazyload")
                                .swiper-slide
                                    img(data-src="./img/project-detail/1.png" alt="" class="lazyload")
                                .swiper-slide
                                    img(data-src="./img/project-detail/1.png" alt="" class="lazyload")
                                .swiper-slide
                                    img(data-src="./img/project-detail/1.png" alt="" class="lazyload")
                                .swiper-slide
                                    img(data-src="./img/project-detail/1.png" alt="" class="lazyload")
                        .swiper-container.gallery-thumbs-project
                            .swiper-wrapper
                                .swiper-slide
                                    img(data-src="./img/project-detail/2.png" alt="" class="lazyload")
                                .swiper-slide
                                    img(data-src="./img/project-detail/2.png" alt="" class="lazyload")
                                .swiper-slide
                                    img(data-src="./img/project-detail/2.png" alt="" class="lazyload")
                                .swiper-slide
                                    img(data-src="./img/project-detail/2.png" alt="" class="lazyload")
                                .swiper-slide
                                    img(data-src="./img/project-detail/2.png" alt="" class="lazyload")
                .right-fullcontent
                    .desc
                        ul.caption
                            li
                                p Vị trí:
                                    span Đường Thủ Khoa Huân - Tân Phước Khánh 10, Tân Uyên, Bình Dương
                            li
                                p Loại dự án:
                                    span Cấp Đặc biệt
                            li
                                p Tổng chiều dài:
                                    span 6.93 ha
                    .desc
                        ul.caption
                            li
                                p Sản phẩm sử dụng:
                                    span Xi măng PCB40-LH trong thi công Trụ Tháp và Dầm hộ
                            li
                                p Tổng số sản lượng:
                                    span 3800.00 TẤN
                            li
                                p Dự kiến bàn giao:
                                    span Quý 4/2021
                .text
                    p Theo quy hoạch phát triển giao thông của Thành phố Hồ Chí Minh đến năm 2020 và tầm nhìn sau năm 2020 đã được Thủ tướng Chính phủ phê duyệt, cầu Thủ Thiêm 2 kết nối Khu đô thị mới Thủ Thiêm với Trung tâm hiện hữu Quận 1 có ý nghĩa rất quan trọng trong việc thúc đẩy phát triển kinh tế – xã hội và góp phần giảm tình trạng ùn tắc giao thông tại khu vực trung tâm thành phố.
                    p Sau khi được Thành phố chấp thuận làm Nhà đầu tư, Công ty Đại Quang Minh đã thực hiện ngay việc ký kết Hợp đồng với Công ty WSP Phần Lan, đẩy nhanh tiến độ lập Thiết kế cơ sở và đã được Bộ Giao thông vận tải thẩm định.
                    p Theo quy hoạch phát triển giao thông của Thành phố Hồ Chí Minh đến năm 2020 và tầm nhìn sau năm 2020 đã được Thủ tướng Chính phủ phê duyệt, cầu Thủ Thiêm 2 kết nối Khu đô thị mới Thủ Thiêm với Trung tâm hiện hữu Quận 1 có ý nghĩa rất quan trọng trong việc thúc đẩy phát triển kinh tế – xã hội và góp phần giảm tình trạng ùn tắc giao thông tại khu vực trung tâm thành phố.
                    p Sau khi được Thành phố chấp thuận làm Nhà đầu tư, Công ty Đại Quang Minh đã thực hiện ngay việc ký kết Hợp đồng với Công ty WSP Phần Lan, đẩy nhanh tiến độ lập Thiết kế cơ sở và đã được Bộ Giao thông vận tải thẩm định.
